<div data-ng-if=":: vm.algorithms">
    <div data-ng-if=":: vm.algorithms.length !== 0" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="alg in vm.algorithms">
                <td data-ng-bind=":: $index + 1"></td>
                <td data-ng-bind=":: alg.name"></td>
                <td data-ng-bind=":: alg.author.userName"></td>
                <td><a class="btn btn-default" data-ui-sref="client.algorithm.details({id: alg.algorithmId})">Details</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p data-ng-if=":: vm.algorithms.length === 0">There is no algorithms</p>
</div>