<div data-ng-if=":: vm.estimations.length !== 0" class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="estimation-table__cell-cmp"></th>
                <th class="estimation-table__cell-index">#</th>
                <th>Status</th>
                <th>Algorithm</th>
                <th>Data Set</th>
                <th>Parameters</th>
                <th class="estimation-table__cell-actions"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="estimation in vm.estimations | filter:vm.selectedEstimationFilter">
                <td>
                    <input type="checkbox" data-ng-model="estimation.$selected" data-ng-change="vm.selectEstimationClick(estimation)"/>
                </td>
                <td data-ng-bind=":: $index + 1"></td>
                <td data-ng-bind=":: vm.stringifyStatus(estimation.status)"></td>
                <td>
                    <a data-ui-sref="client.algorithm.details({id: estimation.algorithm.algorithmId})">{{ :: estimation.algorithm.name }}</a>
                </td>
                <td>
                    <a data-ui-sref="client.dataSet.details({id: estimation.dataSet.dataSetId})">{{ :: estimation.dataSet.name }}</a>
                </td>
                <td>
                    <div data-ng-repeat="param in estimation.algorithm.parameters">{{ :: param.name }}: <strong>{{ :: vm.getParamValue(param, estimation.parameterValues) }}</strong></div>
                </td>
                <td>
                    <div class="show-row-hover pull-right">
                        <button class="btn-transparent glyphicon glyphicon-trash"
                                ng-click="vm.estimationDeleteClick(estimation)"></button>
                        <a class="btn-transparent glyphicon glyphicon-info-sign"
                           ui-sref="client.estimation.resultComposer({id: estimation.estimationId})"></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p data-ng-if=":: vm.estimations.length === 0">There is no estimations</p>
