<div class="awaiter" data-ng-show="vm.isSpinnerActive()">
    <div class="awaiter__back"></div>
    <div class="awaiter__spinner" us-spinner="{lines:11, length:32, width: 3, radius: 30, scale: 1, color: '#FFF'}"></div>
</div>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item" data-ng-class="{'active': vm.isState('client.home')}">
                    <a class="nav-link" ui-sref="client.home">Home</a>
                </li>
                <li class="nav-item" data-ng-class="{'active': vm.includesState('client.algorithm')}">
                    <a class="nav-link" ui-sref="client.algorithm.all">Algorithm</a>
                </li>
                <li class="nav-item" data-ng-class="{'active': vm.includesState('client.dataSet')}">
                    <a class="nav-link" ui-sref="client.dataSet.all">Data set</a>
                </li>
                <li class="nav-item" data-ng-class="{'active': vm.includesState('client.estimation')}">
                    <a class="nav-link" ui-sref="client.estimation.all">Estimation</a>
                </li>
                <li class="nav-item" data-ng-class="{'active': vm.isState('client.signin')}" data-ng-if="!vm.isAuthenticated()">
                    <a class="nav-link" ui-sref="client.signin">Sign In</a>
                </li>
                <li class="nav-item" data-ng-class="{'active': vm.isState('client.signup')}" data-ng-if="!vm.isAuthenticated()">
                    <a class="nav-link" ui-sref="client.signup">Sign Up</a>
                </li>
                <li class="nav-item" data-ng-if="vm.isAuthenticated()">
                    <a class="nav-link" href="" data-ng-click="vm.signOutClick()">Sign Out</a>
                </li>
            </ul>
        </nav>
    </div>
   
    <div data-ui-view></div>
    
    <footer class="footer">
        <p>© Company 2017</p>
    </footer>
</div>