html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 1.5rem;
    padding-bottom: 75px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.header {
    padding: 0 1rem 1rem 1rem;
    border-bottom: .05rem solid #e5e5e5;

    & h3 {
        margin: 0 auto;
        line-height: 3rem;
    }
}

.footer {
    width: inherit;
    position: absolute;
    bottom: 0;
    padding: 1.5rem 1rem 1rem 0;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

@media screen and (min-width: 48em) {
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    .header {
        margin-bottom: 2rem;
    }
}

.fullscreen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.awaiter {
    .fullscreen;
    z-index: 1000;

    &__back {
        .fullscreen;

        background-color: black;
        opacity: 0.75;
    }

    &__spinner {
        .fullscreen;
    }
}